.container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px auto;
    width: 70%;
}

.photo-album {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.photo-grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;
}

.photo {
    padding-bottom: 20%;
}

.photo img {
    object-fit: cover;
    height: 150px;
    width: 150px;
}

.load-more {
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #00bcd4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.album-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

}