.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 5px auto;
    width: 70%;
}

.centerButton {
    align-self: center;
}

.post_title {
    background: #2196F3;
    padding: 5px;
    margin: 5px;
}

.postBody {
    background: aqua;
    padding: 5px;
    margin: 5px;
}

.comment {
    margin: 15px 5px;
    border-top: 2px solid deepskyblue;
}

.commentName {
    font-weight: bold;
}